*{
    margin: 0px;
    padding: 0px;
}
html,body,#box,.item{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 12px;
}
#box .hide{
    display: none;
}
#box .show{
    display: block;
}
#box .active{
    background: #f00;
}
.div_flex{
    display: flex;
    align-items:center;
    justify-content:center;
}
.zdy{
    font-size: 24px;
    width: 70%;
    margin: 0 auto;
    height: 70%;
    text-indent: 2em;
}
#reward{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #fff;
}
.reward{

    flex-flow: column;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    font-size: 24px;
    top: 0px;
    left: 0px;

}
.prompt{
    text-indent: 2em;
}
.TMTAtest{
    width: 800px;
    height: 500px;
    /*background: #2e6da4;*/
    position: relative;
}
.TMTA{
    width: 686px;
    height: 500px;
    position: relative;
}
.hr{
    height: 2px;
    background: #f00;
    border: 0px;
    position: absolute;
}
.hr1{
    width: 200px;
    top: 210px;
    left: 350px;
    z-index: 1;
    transform:rotate(120deg);
    -ms-transform:rotate(120deg); 	/* IE 9 */
    -moz-transform:rotate(120deg); 	/* Firefox */
    -webkit-transform:rotate(120deg); /* Safari 和 Chrome */
    -o-transform:rotate(120deg);
}
.hr2{
    width: 312px;
    top: 222px;
    left: 470px;
    z-index: 1;
    transform:rotate(50deg);
    -ms-transform:rotate(50deg); 	/* IE 9 */
    -moz-transform:rotate(50deg); 	/* Firefox */
    -webkit-transform:rotate(50deg); /* Safari 和 Chrome */
    -o-transform:rotate(50deg);
}
.hr3{
    width: 150px;
    top: 300px;
    left: 580px;
    z-index: 1;
    transform:rotate(40deg);
    -ms-transform:rotate(40deg); 	/* IE 9 */
    -moz-transform:rotate(40deg); 	/* Firefox */
    -webkit-transform:rotate(40deg); /* Safari 和 Chrome */
    -o-transform:rotate(40deg);
}
.hr4{
    width: 150px;
    top: 330px;
    left: 516px;
    z-index: 1;
    transform:rotate(80deg);
    -ms-transform:rotate(80deg); 	/* IE 9 */
    -moz-transform:rotate(80deg); 	/* Firefox */
    -webkit-transform:rotate(80deg); /* Safari 和 Chrome */
    -o-transform:rotate(80deg);
}
.hr5{
    width: 360px;
    top: 392px;
    left: 210px;
    z-index: 1;
    transform:rotate(175deg);
    -ms-transform:rotate(175deg); 	/* IE 9 */
    -moz-transform:rotate(175deg); 	/* Firefox */
    -webkit-transform:rotate(175deg); /* Safari 和 Chrome */
    -o-transform:rotate(175deg);
}
.hr6{
    width: 180px;
    top: 328px;
    left: 74px;
    z-index: 1;
    transform:rotate(70deg);
    -ms-transform:rotate(70deg); 	/* IE 9 */
    -moz-transform:rotate(70deg); 	/* Firefox */
    -webkit-transform:rotate(70deg); /* Safari 和 Chrome */
    -o-transform:rotate(70deg);
}
.hr7{
    width: 180px;
    top: 190px;
    left: 170px;
    z-index: 1;
    transform:rotate(160deg);
    -ms-transform:rotate(160deg); 	/* IE 9 */
    -moz-transform:rotate(160deg); 	/* Firefox */
    -webkit-transform:rotate(160deg); /* Safari 和 Chrome */
    -o-transform:rotate(160deg);
}
.TMTBox .TMTActive{
    background: #0f0;
}
.TMT{
    width: 78px;
    height: 78px;
    border: 1px solid #000000;
    border-radius: 100px;
    font-size: 48px;
    font-weight: 900;
    cursor: pointer;
    position: absolute;
    background: #fff;
}
.TMTZ{
    width: 48px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 100px;
    font-size: 32px;
    font-weight: 900;
    cursor: pointer;
    position: absolute;
    background: #fff;
}

.begin:before{
    content: "开始";
    position: absolute;
    top: -36px;
    color: #2e6da4;
    font-size: 24px;
    cursor: auto;
}
.end:before{
    content: "结束";
    position: absolute;
    top: -36px;
    color: #2e6da4;
    font-size: 24px;
    cursor: auto;
}
.Atest1{
    top:280px;
    left: 350px;
    z-index: 10;
}
.Atest2{
    top:80px;
    left: 460px;
    z-index: 10;
}
.Atest3{
    top:300px;
    left: 680px;
    z-index: 10;
}
.Atest4{
    top:200px;
    left: 540px;
    z-index: 10;
}
.Atest5{
    top:340px;
    left: 560px;
    z-index: 10;
}
.Atest6{
    top:360px;
    left: 140px;
    z-index: 10;
}
.Atest7{
    top:180px;
    left: 100px;
    z-index: 10;
}
.Atest8{
    top:140px;
    left: 310px;
    z-index: 10;
}

/*正式圆位置*/
.A1{
    top:328px;
    left: 244px;
    z-index: 10;
}
.A2{
    top:204px;
    left: 150px;
    z-index: 10;
}
.A3{
    top:377px;
    left: 125px;
    z-index: 10;
}
.A4{
    top:355px;
    left: 381px;
    z-index: 10;
}
.A5{
    top:182px;
    left: 356px;
    z-index: 10;
}
.A6{
    top:265px;
    left: 303px;
    z-index: 10;
}
.A7{
    top:162px;
    left: 235px;
    z-index: 10;
}
.A8{
    top:75px;
    left: 115px;
    z-index: 10;
}
.A9{
    top:109px;
    left: 44px;
    z-index: 10;
}
.A10{
    top:150px;
    left: 122px;
    z-index: 10;
}
.A11{
    top:301px;
    left: 25px;
    z-index: 10;
}
.A12{
    top:20px;
    left: -4px;
    z-index: 10;
}
.A13{
    top:66px;
    left: 303px;
    z-index: 10;
}
.A14{
    top:5px;
    left: 214px;
    z-index: 10;
}
.A15{
    top:2px;
    left: 567px;
    z-index: 10;
}
.A16{
    top:66px;
    left: 461px;
    z-index: 10;
}
.A17{
    top:228px;
    left: 588px;
    z-index: 10;
}
.A18{
    top:210px;
    left: 435px;
    z-index: 10;
}
.A19{
    top:380px;
    left: 529px;
    z-index: 10;
}
.A20{
    top:285px;
    left: 529px;
    z-index: 10;
}
.A21{
    top:428px;
    left: 598px;
    z-index: 10;
}
.A22{
    top:430px;
    left: 396px;
    z-index: 10;
}
.A23{
    top:448px;
    left: 13px;
    z-index: 10;
}
.A24{
    top:417px;
    left: 264px;
    z-index: 10;
}
.A25{
    top:390px;
    left: 32px;
    z-index: 10;
}
/*正式线位置*/
.Ahr1{
    width: 136px;
    top: 286px;
    left: 154px;
    z-index: 1;
    transform:rotate(50deg);
    -ms-transform:rotate(50deg); 	/* IE 9 */
    -moz-transform:rotate(50deg); 	/* Firefox */
    -webkit-transform:rotate(50deg); /* Safari 和 Chrome */
    -o-transform:rotate(50deg);
}
.Ahr2{
    width: 136px;
    top: 312px;
    left: 96px;
    z-index: 1;
    transform:rotate(100deg);
    -ms-transform:rotate(100deg); 	/* IE 9 */
    -moz-transform:rotate(100deg); 	/* Firefox */
    -webkit-transform:rotate(100deg); /* Safari 和 Chrome */
    -o-transform:rotate(100deg);
}
.Ahr3{
    width: 260px;
    top: 397px;
    left: 140px;
    z-index: 1;
    transform:rotate(-4deg);
    -ms-transform:rotate(-4deg); 	/* IE 9 */
    -moz-transform:rotate(-4deg); 	/* Firefox */
    -webkit-transform:rotate(-4deg); /* Safari 和 Chrome */
    -o-transform:rotate(-4deg);
}
.Ahr4{
    width: 150px;
    top: 284px;
    left: 314px;
    z-index: 1;
    transform:rotate(80deg);
    -ms-transform:rotate(80deg); 	/* IE 9 */
    -moz-transform:rotate(80deg); 	/* Firefox */
    -webkit-transform:rotate(80deg); /* Safari 和 Chrome */
    -o-transform:rotate(80deg);
}
.Ahr5{
    width: 70px;
    top: 252px;
    left: 314px;
    z-index: 1;
    transform:rotate(120deg);
    -ms-transform:rotate(120deg); 	/* IE 9 */
    -moz-transform:rotate(120deg); 	/* Firefox */
    -webkit-transform:rotate(120deg); /* Safari 和 Chrome */
    -o-transform:rotate(120deg);
}
.Ahr6{
    width: 100px;
    top: 240px;
    left: 248px;
    z-index: 1;
    transform:rotate(60deg);
    -ms-transform:rotate(60deg); 	/* IE 9 */
    -moz-transform:rotate(60deg); 	/* Firefox */
    -webkit-transform:rotate(60deg); /* Safari 和 Chrome */
    -o-transform:rotate(60deg);
}
.Ahr7{
    width: 120px;
    top: 140px;
    left: 138px;
    z-index: 1;
    transform:rotate(40deg);
    -ms-transform:rotate(40deg); 	/* IE 9 */
    -moz-transform:rotate(40deg); 	/* Firefox */
    -webkit-transform:rotate(40deg); /* Safari 和 Chrome */
    -o-transform:rotate(40deg);
}
.Ahr8{
    width: 50px;
    top: 113px;
    left: 84px;
    z-index: 1;
    transform:rotate(-40deg);
    -ms-transform:rotate(-40deg); 	/* IE 9 */
    -moz-transform:rotate(-40deg); 	/* Firefox */
    -webkit-transform:rotate(-40deg); /* Safari 和 Chrome */
    -o-transform:rotate(-40deg);
}
.Ahr9{
    width: 50px;
    top: 156px;
    left: 84px;
    z-index: 1;
    transform:rotate(40deg);
    -ms-transform:rotate(40deg); 	/* IE 9 */
    -moz-transform:rotate(40deg); 	/* Firefox */
    -webkit-transform:rotate(40deg); /* Safari 和 Chrome */
    -o-transform:rotate(40deg);
}

.Ahr10{
    width: 146px;
    top: 246px;
    left: 28px;
    z-index: 1;
    transform:rotate(-56deg);
    -ms-transform:rotate(-56deg); 	/* IE 9 */
    -moz-transform:rotate(-56deg); 	/* Firefox */
    -webkit-transform:rotate(-56deg); /* Safari 和 Chrome */
    -o-transform:rotate(-56deg);
}
.Ahr11{
    width: 290px;
    top: 170px;
    left: -110px;
    z-index: 1;
    transform:rotate(82deg);
    -ms-transform:rotate(82deg); 	/* IE 9 */
    -moz-transform:rotate(82deg); 	/* Firefox */
    -webkit-transform:rotate(82deg); /* Safari 和 Chrome */
    -o-transform:rotate(82deg);
}
.Ahr12{
    width: 290px;
    top: 70px;
    left: 42px;
    z-index: 1;
    transform:rotate(8deg);
    -ms-transform:rotate(8deg); 	/* IE 9 */
    -moz-transform:rotate(8deg); 	/* Firefox */
    -webkit-transform:rotate(8deg); /* Safari 和 Chrome */
    -o-transform:rotate(8deg);
}
.Ahr13{
    width: 100px;
    top: 70px;
    left: 252px;
    z-index: 1;
    transform:rotate(34deg);
    -ms-transform:rotate(34deg); 	/* IE 9 */
    -moz-transform:rotate(34deg); 	/* Firefox */
    -webkit-transform:rotate(34deg); /* Safari 和 Chrome */
    -o-transform:rotate(34deg);
}
.Ahr14{
    width: 324px;
    top: 26px;
    left: 252px;
    z-index: 1;
    transform:rotate(-2deg);
    -ms-transform:rotate(-2deg); 	/* IE 9 */
    -moz-transform:rotate(-2deg); 	/* Firefox */
    -webkit-transform:rotate(-2deg); /* Safari 和 Chrome */
    -o-transform:rotate(-2deg);
}
.Ahr15{
    width: 100px;
    top: 56px;
    left: 497px;
    z-index: 1;
    transform:rotate(-32deg);
    -ms-transform:rotate(-32deg); 	/* IE 9 */
    -moz-transform:rotate(-32deg); 	/* Firefox */
    -webkit-transform:rotate(-32deg); /* Safari 和 Chrome */
    -o-transform:rotate(-32deg);
}
.Ahr16{
    width: 178px;
    top: 174px;
    left: 460px;
    z-index: 1;
    transform:rotate(-126deg);
    -ms-transform:rotate(-126deg); 	/* IE 9 */
    -moz-transform:rotate(-126deg); 	/* Firefox */
    -webkit-transform:rotate(-126deg); /* Safari 和 Chrome */
    -o-transform:rotate(-126deg);
}
.Ahr17{
    width: 132px;
    top: 246px;
    left: 460px;
    z-index: 1;
    transform:rotate(10deg);
    -ms-transform:rotate(10deg); 	/* IE 9 */
    -moz-transform:rotate(10deg); 	/* Firefox */
    -webkit-transform:rotate(10deg); /* Safari 和 Chrome */
    -o-transform:rotate(10deg);
}
.Ahr18{
    width: 200px;
    top: 310px;
    left: 408px;
    z-index: 1;
    transform:rotate(60deg);
    -ms-transform:rotate(60deg); 	/* IE 9 */
    -moz-transform:rotate(60deg); 	/* Firefox */
    -webkit-transform:rotate(60deg); /* Safari 和 Chrome */
    -o-transform:rotate(60deg);
}
.Ahr19{
    width: 84px;
    top: 348px;
    left: 516px;
    z-index: 1;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);
}
.Ahr20{
    width: 150px;
    top: 380px;
    left: 516px;
    z-index: 1;
    transform:rotate(66deg);
    -ms-transform:rotate(66deg); 	/* IE 9 */
    -moz-transform:rotate(66deg); 	/* Firefox */
    -webkit-transform:rotate(66deg); /* Safari 和 Chrome */
    -o-transform:rotate(66deg);
}
.Ahr21{
    width: 210px;
    top: 454px;
    left: 410px;
    z-index: 1;
    transform:rotate(2deg);
    -ms-transform:rotate(2deg); 	/* IE 9 */
    -moz-transform:rotate(2deg); 	/* Firefox */
    -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
    -o-transform:rotate(2deg);
}
.Ahr22{
    width: 380px;
    top: 472px;
    left: 50px;
    z-index: 1;
    transform:rotate(-2deg);
    -ms-transform:rotate(-2deg); 	/* IE 9 */
    -moz-transform:rotate(-2deg); 	/* Firefox */
    -webkit-transform:rotate(-2deg); /* Safari 和 Chrome */
    -o-transform:rotate(-2deg);
}
.Ahr23{
    width: 234px;
    top: 456px;
    left: 60px;
    z-index: 1;
    transform:rotate(-8deg);
    -ms-transform:rotate(-8deg); 	/* IE 9 */
    -moz-transform:rotate(-8deg); 	/* Firefox */
    -webkit-transform:rotate(-8deg); /* Safari 和 Chrome */
    -o-transform:rotate(-8deg);
}
.Ahr24{
    width: 200px;
    top: 430px;
    left: 74px;
    z-index: 1;
    transform:rotate(6deg);
    -ms-transform:rotate(6deg); 	/* IE 9 */
    -moz-transform:rotate(6deg); 	/* Firefox */
    -webkit-transform:rotate(6deg); /* Safari 和 Chrome */
    -o-transform:rotate(6deg);
}
