*{
    margin: 0px;
    padding: 0px;
}
html,body,.swiper-wrapper,.swiper-slide{
    width: 100%;
    height: 100%;
}
.swiper-container{
    height: 80%;
    width: 100%;
}
.div_flex{
    display: flex;
    align-items:center;
    justify-content:center;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
.box{
    width: 100%;
    height: 20%;
    font-size: 28px;
    font-weight: 900;
    color: #ff6700;
    background: #007aff;
}
.tl{
    height: 38px;
    font-size: 18px;
    line-height: 38px;
}
.tl img{
    max-height: 100%;
    max-width: 100%;
}