*{
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
}
.div_flex{
    display: flex;
    align-items:center;
    justify-content:center;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
.box{
    display: -webkit-box;
    overflow-x: scroll;
    padding: 32px;
    -webkit-overflow-scrolling: touch;
}
.item_box{
    border: 1px solid #007aff;
    margin: 8px 0px;
    border-radius: 5px;
}
.item{
    width: 260px;
    margin: 0px 16px;
}
.item_title{
    line-height: 38px;
    font-size: 18px;
    cursor: pointer;
}
.item_box:hover{
    color: #fff;
    background: #007aff;
}
.item img{
    height: 38px;
    width: auto;
}